<div>
    <img src="https://our.stgeorge.ca/notify/2024/10/ChristmasTrees/DouglasFir.png" 
            alt="Summer Nady Gift Distribution" 
            style="width: 50px; float: left;"/>
    <img src="https://our.stgeorge.ca/notify/2024/10/ChristmasTrees/DouglasFir.png" 
    alt="Summer Nady Gift Distribution" 
    style="width: 50px; float: right;"/>
    <p style="text-align: center;">Get your Christmas tree before Nov 17 and help our church. Text Mina Fahim at 604-300-4235.</p>
    <p style="clear: both;"></p>
</div>          
