<div>
    <img style="width: 150px; float: right; padding: 15px;" 
    src="https://our.stgeorge.ca/notify/2024/09/StGeorgeLottery/StGeorgeLottery_900x1366.png" 
    alt="St. George" />
    <h1 style="text-align: center;">St. George Picture Lottery</h1>
    <h4 style="text-align: center;">Only one Week Left.</h4>
    <h5 style="text-align: center;">Don&apos;t miss this opportunity to bring home a blessing.</h5>
    <p style="text-align: center;"> 
        Buy one ticket for $10 or ten tickets for $80. 
        Text Mary Elmasry (604-719-1783) 
        or Marian Ghabour (647-774-1601) to purchase your tickets.
        <br /><br />
        <b>Draw date:</b> Next week on Sun Nov 17, 2024
    </p>
    <p style="clear: both;"></p>
</div>          
