<div style="background-color:#f5eef8; border-color:#f5c2c7; border-radius:.25rem; border:1px solid transparent; color:#842029; display:flow-root; font-size:large; margin-bottom:auto; margin-left:auto; margin-right:auto; margin-top:auto; padding:1rem 1rem; position:relative; width:80%">


    <p>
    Online Bible studies on Wed Nov 6 with Fr. Bisenty:<br/>
    &nbsp;&nbsp;&nbsp;Join Zoom Meeting: <a href="https://us02web.zoom.us/j/86919836043">https://us02web.zoom.us/j/86919836043</a><br/>
    &nbsp;&nbsp;&nbsp;Meeting ID: 869 1983 6043<br/>
    &nbsp;&nbsp;&nbsp;Passcode: 992183
    </p>  

          
</div>

