<div style="background-color:#f5eef8; border-color:#f5c2c7; border-radius:.25rem; border:1px solid transparent; color:#842029; display:flow-root; font-size:large; margin-bottom:auto; margin-left:auto; margin-right:auto; margin-top:auto; padding:1rem 1rem; position:relative; width:80%; text-align: left;">

    <p>
    Online Bible studies on Wed June 18 with Hegumen Fr. Bisenty:<br/>
    &nbsp;&nbsp;&nbsp;Join Zoom Meeting: <a href="https://us02web.zoom.us/j/86974579630">https://us02web.zoom.us/j/86974579630</a><br/>
    &nbsp;&nbsp;&nbsp;Meeting ID: 869 7457 9630<br/>
    &nbsp;&nbsp;&nbsp;Passcode: 204725
    </p>  
  
</div>

