<div>
    <center>
    <img src="https://our.stgeorge.ca/resources/elders/HG_Bishop_Mina.png"  
    style="border-radius: 15%; width: 25%; margin: 5px;"
    alt="Bishop Mina" /> 
    </center>
    <p style="text-align: left;"> 
        HG Bishop Mina will be with us at Sunday Liturgy on October 12, 2025 at Maddaugh Elementary. In addition, he will pray at these liturgies next week:<br /><br />
        - Tue Oct 14, 2025 (Seniors Day) - Walnut Grove Lutheran Church<br />
        - Wed Oct 15, 2025 - Walnut Grove Lutheran Church
    </p>
</div>