<p style="text-align:center">^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v</p>

<ol>
	<li><strong>Commemoration of St. Mary</strong><br />
	On Monday, December 29, 2025, we will pray Kiahk Tasbeha starting at 7:00 PM, followed by the Divine Liturgy in commemoration of St. Mary.</li>
	<li><strong>New Year&#39;s Eve Celebration</strong><br />
	Our New Year&#39;s Eve program begins at 7:00 PM on December 31, 2025, at Walnut Grove Lutheran Church. The evening will include Asheya, a Sunday School Celebration, and Tasbeha, continuing until midnight.</li>
	<li><strong>Divine Liturgy for the New Year</strong><br />
	Hegumen Fr. Bisenty will pray the Divine Liturgy during the first hours of the New Year, from 12:00 AM to 2:30 AM.</li>
	<li><strong>Bible Studies Update</strong><br />
	Please note that there will be no online Bible Studies on January 1 or January 7, 2026.</li>
</ol>

<p style="text-align:center">^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v^v</p>


<div>
    <center>
    <img src="https://our.stgeorge.ca/resources/new-year/happy-new-year.png"  
    style="border-radius: 15%; width: 25%; margin: 5px;"
    alt="Happy New Year" /> 
    </center>
</div>