<div
  style="width: 90%; margin: auto; display: flow-root; color: #0f5132; background-color: #d1e7dd; border-color: #badbcc; position: relative; padding: 1rem 1rem; border: 1px solid transparent; border-radius: .25rem; text-align: left;"
>
  
  <p style="margin-left: 20px">
    <h3>Important: Prevent Church Emails from Going to Spam</h3>
    We learned that some email messages from St. George Coptic Orthodox Church may occasionally end up in your junk or spam folder. To make sure you are receiving all of our updates and important announcements, please follow these steps:
  </p>

  <ol>
    <li>
      <b>Add news@stgeorge.ca to your contact list or address book.</b> This tells your email provider that messages from this address are from a trusted source.
    </li>
    <li>
      <b>Mark church emails as "Not Spam".</b> If you find a message from us in your spam/junk folder, right-click it and mark it as "Not Spam" or "Move to Inbox." This helps train your email system to recognize future messages.
    </li>
    <li>
      <b>Create a filter or rule to always allow emails from the church.</b> Most email platforms like Gmail, Outlook, Yahoo, and Apple Mail allow you to create a rule (or filter) that automatically delivers specific emails to your inbox. Set one up for news@stgeorge.ca.
    </li>
    <li>
      <b>Check your Promotions or Updates tab (especially in Gmail).</b> Sometimes emails can be miscategorized. Dragging church emails into your Primary tab can help them appear correctly in the future.
    </li>
  </ol>

</div>
