<div
  style="width: 90%; margin: auto; display: flow-root; color: #0f5132; background-color: #d9edf7; border-color: #badbcc; position: relative; padding: 1rem 1rem; border: 1px solid transparent; border-radius: .25rem; text-align: left;"
>

  <p style="text-align:center; background-color: #fff;">
  Visit <a href="https://services.stgeorge.ca">https://services.stgeorge.ca</a>
  to view the most recent online schedule.
  </p>

  <h5>During Holy Week, we will be praying and celebrating together at these locations:</h5>
  <div style="margin-left: 50px">
    <p>
      <b>Maddaugh Elementary School</b> located at
      <a
        href="https://www.google.com/maps/place/Maddaugh+Elementary/@49.1411856,-122.6852435,15z/data=!4m6!3m5!1s0x5485d11d6dc60515:0x590d29858677d829!8m2!3d49.1411856!4d-122.6852435!16s%2Fg%2F11h4n03035"
        target="_blank"
      >
        19405 76 Ave, Surrey, BC, V4N 6C6
      </a>
      <br />➨ Palm Sunday
    </p>
 
    <p>
      <b>Walnut Grove Lutheran Church</b> located at
      <a
        href="https://www.google.com/maps/place/Walnut+Grove+Lutheran+Church/@49.1619579,-122.653473,17z/data=!4m6!3m5!1s0x5485d17f07159efb:0x3357210faae0a2ce!8m2!3d49.1619579!4d-122.653473!16s%2Fg%2F1tlzzw89"
        target="_blank"
      >
        20530 88 Ave, Langley, BC V1M 2Y6
      </a>
      <br />➨ Lazarus Saturday morning liturgy, morning Pacha (Monday, Tuesday, and Wednesday), Good Friday prayers, Apocalypses night, and Resurrection Eve Liturgy
    </p>
 
    <p>
      <b>Fort Langley Community Church</b> located at
      <a
        href="https://www.google.com/maps/place/Fort+Langley+Community+Church/@49.1637781,-122.5842848,15z/data=!4m6!3m5!1s0x5485d25c43ef4763:0xa13324ece6aa4d90!8m2!3d49.1637781!4d-122.5842848!16s%2Fg%2F1td6ry1y?entry=ttu"
        target="_blank"
      >
        8870 Glover Rd, Fort Langley, BC V1M 2R9
      </a>
      <br />➨ Palm Sunday Eve
    </p>
 
    <p>
      <b>St. Luke Lutheran Church</b> located at
      <a
        href="https://www.google.com/maps/place/St.+Luke+Lutheran+Church/@49.1873429,-122.8121466,15z/data=!4m6!3m5!1s0x5485d76e6932f6af:0x8f12fada30699a88!8m2!3d49.1873429!4d-122.8121466!16s%2Fg%2F1t_tj_1c?entry=ttu"
        target="_blank"
      >
        10177 148 St, Surrey, BC V3R 3X2
      </a>
      <br />➨ Evening Pacha (Monday, Tuesday, Wednesday and Thursday) and Covenant Thursday Divine Liturgy
    </p>
 
    <p>
      <b>Pacific Academy</b> located at
      <a
        href="https://www.google.com/maps/place/Pacific+Academy/@49.1887484,-122.7553728,624m/data=!3m2!1e3!4b1!4m6!3m5!1s0x5485d6d923543a53:0x124752a7c7409e3c!8m2!3d49.1887484!4d-122.7553728!16zL20vMDhicjB5?entry=ttu&g_ep=EgoyMDI2MDMxOC4xIKXMDSoASAFQAw%3D%3D"
        target="_blank"
      >
        10238 168 Street, Surrey, BC V4N 1Z4
      </a>
    <br />➨ Resurrection Dinner
    </p>

    <p>
      <b>Peace Arch Provincial Park, Heritage Hall</b> located at
      <a
        href="https://www.google.ca/maps/place/Peace+Arch+Provincial+Park/@49.0052566,-122.7612618,17z/data=!3m1!4b1!4m6!3m5!1s0x5485c409adfcee83:0x652b22b5103f82a2!8m2!3d49.0052566!4d-122.7590731!16zL20vMDVoY3Rx"
        target="_blank"
      >
        16756 Beach Rd, Surrey, BC V3S 9R6
      </a>
      <br />➨ Easter Monday (Sham El Nessim)
    </p>
  </div>

</div>
