<div
  style="width: 90%; margin: auto; display: flow-root; color: #0f5132; background-color: #d1e7dd; border-color: #badbcc; position: relative; padding: 1rem 1rem; border: 1px solid transparent; border-radius: .25rem; text-align: left;"
>
  <!-- ************** BEGIN ************** -->

  <h3>During Holy Week, we will be praying and celebrating together at these locations:</h3>
  <p style="margin-left: 50px">
    <hr />
    <b>Maddaugh Elementary School</b> located at
    <a
      href="https://www.google.com/maps/place/Maddaugh+Elementary/@49.1411856,-122.6852435,15z/data=!4m6!3m5!1s0x5485d11d6dc60515:0x590d29858677d829!8m2!3d49.1411856!4d-122.6852435!16s%2Fg%2F11h4n03035"
      target="_blank"
    >
      19405 76 Ave, Surrey, BC, V4N 6C6
    </a>

    <hr />
    <b>Walnut Grove Lutheran Church</b> located at
    <a
      href="https://www.google.com/maps/place/Walnut+Grove+Lutheran+Church/@49.1619579,-122.653473,17z/data=!4m6!3m5!1s0x5485d17f07159efb:0x3357210faae0a2ce!8m2!3d49.1619579!4d-122.653473!16s%2Fg%2F1tlzzw89"
      target="_blank"
    >
      20530 88 Ave, Langley, BC V1M 2Y6
    </a>

    <hr />
    <b>Fort Langley Community Church</b> located at
    <a
      href="https://www.google.com/maps/place/Fort+Langley+Community+Church/@49.1637781,-122.5842848,15z/data=!4m6!3m5!1s0x5485d25c43ef4763:0xa13324ece6aa4d90!8m2!3d49.1637781!4d-122.5842848!16s%2Fg%2F1td6ry1y?entry=ttu"
      target="_blank"
    >
      8870 Glover Rd, Fort Langley, BC V1M 2R9
    </a>
    <br /> Lazarus Saturday morning liturgy and Good Friday prayers

    <hr />
    <b>St. Luke Lutheran Church</b> located at
    <a
      href="https://www.google.com/maps/place/St.+Luke+Lutheran+Church/@49.1873429,-122.8121466,15z/data=!4m6!3m5!1s0x5485d76e6932f6af:0x8f12fada30699a88!8m2!3d49.1873429!4d-122.8121466!16s%2Fg%2F1t_tj_1c?entry=ttu"
      target="_blank"
    >
      10177 148 St, Surrey, BC V3R 3X2
    </a>
    <br /> Evening Pacha on Monday and Wednesday

    <hr />
    <b>Maple Ridge Christian Reformed Church</b> located at
    <a
      href="https://www.google.com/maps/place/Maple+Ridge+Christian+Reformed+Church/@49.222067,-122.6601834,17z/data=!3m1!4b1!4m6!3m5!1s0x5485d4668eccd29f:0x5e59853ec32cb192!8m2!3d49.222067!4d-122.6601834!16s%2Fg%2F1tj57gjn?entry=ttu&g_ep=EgoyMDI1MDQwMi4xIKXMDSoASAFQAw%3D%3D"
      target="_blank"
    >
      20245 Dewdney Trunk Rd, Maple Ridge, BC V2X 3C9
    </a>
    <br />Resurrection Dinner

    <hr />
    <b>Peace Arch Provincial Park, Heritage Hall</b> located at
    <a
      href="https://www.google.ca/maps/place/Peace+Arch+Provincial+Park/@49.0052566,-122.7612618,17z/data=!3m1!4b1!4m6!3m5!1s0x5485c409adfcee83:0x652b22b5103f82a2!8m2!3d49.0052566!4d-122.7590731!16zL20vMDVoY3Rx"
      target="_blank"
    >
      16756 Beach Rd, Surrey, BC V3S 9R6
    </a>
    <br />Easter Monday (Sham El Nessim)

    
  </p>

  <hr />

  <!--
  <p>
    Sunday School is currently being held at
    <b>Clayton Heights Secondary School</b> located at
    <a
      href="https://www.google.com/maps/place/Clayton+Heights+Secondary+School/@49.1289432,-122.7027207,15z/data=!4m6!3m5!1s0x5485d04f1bb6ac73:0x2d7ef9f254835fd1!8m2!3d49.1289432!4d-122.7027207!16zL20vMGRoNG55"
      target="_blank"
    >
      7003 188 St, Surrey, BC V4N 3G6</a
    >
  </p>
  -->

  <!-- ************** END ************** -->
</div>
