<div>
    <center>
    <img src="https://our.stgeorge.ca/notify/2025/11/nativity-lottery/st-mary-small.png"  
    style="width: 20%; margin: 5px;"
    alt="Nativity 2025/26 lottery" /> 
    </center>
    <p style="text-align: center;"> 
        Join the fundraising lottery for a chance to win a blessed picture of St. Mary. Tickets available until the January 11, 2026 draw at Maddaugh Elementary School; contact Mary Elmasry (604‑719‑1783) or Marian Ghabour (647‑774‑1601) to purchase tickets.
    </p>
</div>