<div style="background-color:#d1e7dd; border-color:#badbcc; border-radius:.25rem; border:1px solid transparent; color:#0f5132; display:flow-root; margin-bottom:auto; margin-left:auto; margin-right:auto; margin-top:auto; padding:1rem 1rem; position:relative; text-align:left; width:80%"><!-- ************** BEGIN ************** -->
    <center>
    <img src="https://our.stgeorge.ca/resources/epiphany/epiphany.jpeg"  
    style="margin: 5px;width: 30%;"
    alt="Epiphany" /> 
    </center>
    <br />
    <p style="text-align: left;"> 
        Epiphany is one of the Major Lordly Feasts of the Coptic Orthodox Church, standing shoulder to shoulder with the great feasts of Nativity and Easter. Epiphany in on January 19, 2026, honoring Jesus' baptism and the revelation of His divinity.
    </p>
<!-- ************** END ************** --></div>
