<div style="background-color:#ffeeba; border-color:#ffeeba; border-radius:.25rem; border:1px solid transparent; color:#856404; display:flow-root; font-size:large; margin-bottom:auto; margin-left:auto; margin-right:auto; margin-top:auto; padding:1rem 1rem; position:relative; width:80%; text-align: left;">

    <p>Next week on Sunday Apr 27,  we are obliged to pray at a different location in Maple Ridge:</p>

    <p style="margin-left: 30px;">
    Eric Langton Elementary School<br />
    12136 Edge Street, Maple Ridge
    </p>

    <p>We will be back at Maddaugh Elementary on the following Sunday.</p>
  
</div>

